mixin agregarAlasDesdeDb(alas)
    for ala of alas 
        option(value=ala.nombre)  #{ala.nombre}

mixin agregarMotivosDesdeDb(motivos)
    for motivo of motivos
        option(
            value=motivo.dataValues.id_motivo_de_Internacion
        ) #{motivo.dataValues.motivo}

mixin agregarHabitacionSeleccionada(ala,id_Paciente)
    .d-flex.flex-column.gap-3.mb-4
          .info-box.p-3
            h4.text-muted Ala
            if(ala && ala.nombre_ala != undefined)
                h2.fw-bold #{ala.nombre_ala}
            else 
                h2.fw-bold 
          .info-box.p-3
            h4.text-muted Habitación
            if(ala && ala.nro_habitacion != undefined)
                h2.fw-bold #{ala.nro_habitacion}
            else 
                h2.fw-bold
            .info-box.p-3
            h4.text-muted ID PACIENTE
                h2.fw-bold #{id_Paciente}
mixin agregarMutualesDesdeDb(mutuales)
    for mutual of mutuales
        option(value=mutual.dataValues.id_mutual
        ) #{mutual.dataValues.nombre}
mixin agregarCategoriasDesdeDb(categorias)
    for categoria of categorias
        option(value=categoria.dataValues.id_Categoria_Seguro
        ) #{categoria.dataValues.nombre}           
