mixin agregarAlasDesdeDb(alas)
    for ala of alas 
        option(value=ala.nombre)  #{ala.nombre}

mixin agregarMotivosDesdeDb(motivos)
    for motivo of motivos
        option(
            value=motivo.dataValues.id_motivo_de_Internacion
        ) #{motivo.dataValues.motivo}

mixin agregarHabitacionSeleccionada(nombre_ala,nro_habitacion,id_Paciente)
    .d-flex.flex-column.gap-3.mb-4
          .info-box.p-3
            h4.text-muted Ala
            if(nombre_ala != undefined)
                h2.fw-bold #{nombre_ala}
            else 
                h2.fw-bold 
          .info-box.p-3
            h4.text-muted Habitación
            if(nro_habitacion != undefined)
                h2.fw-bold #{nro_habitacion}
            else 
                h2.fw-bold
            .info-box.p-3
            h4.text-muted ID PACIENTE
                h2.fw-bold #{id_Paciente}
mixin agregarMutualesDesdeDb(mutuales)
    for mutual of mutuales
        option(value=mutual.dataValues.id_mutual
        ) #{mutual.dataValues.nombre}
mixin agregarCategoriasDesdeDb(categorias)
    for categoria of categorias
        option(value=categoria.dataValues.id_Categoria_Seguro
        ) #{categoria.dataValues.nombre}           

mixin agregarMutualesYSeleccionar(mutuales,seguroMedico)
    for mutual of mutuales
        option(value=mutual.dataValues.id_mutual selected=(seguroMedico.mutual.dataValues.id_mutual === mutual.dataValues.id_mutual)
        ) #{mutual.dataValues.nombre}

mixin agregarCategoriasYSeleccionar(categorias,seguroMedico)
    for categoria of categorias
        option(value=categoria.dataValues.id_Categoria_Seguro selected=(seguroMedico.categoria_seguro.dataValues.id_Categoria_Seguro === categoria.dataValues.id_Categoria_Seguro)
        ) #{categoria.dataValues.nombre}           
